<h1 class="project-title">This website</h1>
<p class="project-description">A rails-based, load balanced TODODODOTODODTOOTDO</p>
<h2>Tools used</h2>
<ul>
  <li>Ruby on Rails</li>
  <li>SASS</li>
  <li>MySQL</li>
  <li>Amazon AWS</li>
  <li>Ubuntu</li>
  <li>Namecheap API</li>
</ul>
<h2>Lines of code</h2>
<ul><li>...</li></ul>
<h2>Source code</h2>
...

<h1 class="project-title">Omnibox</h1>
<p class="project-description">A natural language processing input box which interprets queries into mathematical concepts.  Try d/dx(x^5+5x+5)</p>
<input name="omnibox" id="omnibox" maxlength="200" type="text" autocapitalize="off" autocomplete="off">
<h2>Tools used</h2>
<ul>
  <li>...</li>
</ul>

<h1 class="project-title">ODEC [Java Decompiler]</h1>
<p class="project-description">A java decompiler built from scratch</p>
<h2>Tools used</h2>
<ul>
  <li>[TODO add links] Google Guava -- Preconditions, immutable data structures, functional utilities</li>
  <li>JUnit -- Unit testing</li>
  <li>Apache Maven -- Build Management</li>
  <li>SLF4J -- Logging</li>
</ul>

<h1 class="project-title">Overture</h1>
<p class="project-description">A Material Design music player with support for playlists, and changing the tempo of a song without changing its pitch [Time Stretching].</p>
<h2>Tools used</h2>
<ul>
  <li>Android</li>
  <li>SoundTouch</li>
  <li>Dagger 2</li>
  <li>Butterknife</li>
</ul>