<div id="whoami">
<p>
  Student at the University of Toronto. My passion is making robust, elegant programs in a variety of languages.

  My favorite projects include <a href="projects#odec">ODEC</a>, a Java decompiler, and <a href="projects#overture">Overture</a>, an advanced, material design based music player for Android.
  Other things I've recently made include <a href="projects#probo">Probo</a>, a proof validity checker, and CDIFF, a single-variable differential value calculator.
  I also help out on open source projects such as <a href="https://github.com/ccrama/Slide">Reddit Slide</a>, <a href="https://github.com/synergy/synergy">synergy</a>, and <a href="https://github.com/LMAX-Exchange/disruptor">LMAX Disruptor</a>
  To help pay the bills I do freelance work in web design, finance, and back ends.

  For contact details, please see the <a href="contact">contact</a> page.
</p>
</div>