<h1>Programmer</h1>
<h2>Language proficiency</h2>
<h3>Mastery</h3>
<p>Languages I'm extremely comfortable writing, including knowledge of minutiae and many years of experience</p>
<ul>
  <li>Java</li>
</ul>

<h3>Proficiency</h3>
<p>Languages I'm comfortable writing, but that I haven't quite mastered.</p>
<ul>
  <li>Ruby</li>
  <li>C</li>
  <li>Javascript</li>
  <li>Python</li>
  <li>SQL</li>
</ul>

<h3>Fluency</h3>
<p>Languages I'm comfortable reading, but not necessarily very experienced with</p>
<ul>
  <li>D</li>
  <li>C++</li>
  <li>Scala</li>
  <li>Lua</li>
  <li>Groovy</li>
</ul>

<h2>Project Design</h2>
<ul>
  <li>Lines of code written - over 200,000 in the past 5 years</li>
  <li>Largest single project completed - 14,000 lines</li>
  <li>Favorite design patterns - Builder, Abstract Factory, Strategy, Model View Presenter, MVC, Observer</li>
</ul>

<h1>Leader</h1>
<ul>
  <li>Distinguished teacher assistant at the Royal Winnipeg Ballet.</li>
  <li>Mentor at University of Toronto Hack Nights.</li>
  <li>University level computer science tutor for half a dozen people</li>
</ul>

<h1>Worker</h1>
<ul>
  <li>Freelancing since I was 14, but I have slowed down while in university.</li>
  <li>Minecraft development for various companies and individuals from 2010-2014.</li>
  <li>These days my freelancing is mostly for individuals from my university.</li>
</ul>