<h1>Email</h1>
<p>
  <a href="mailto:me@colinchartier.com">me@colinchartier.com</a>
</p>

<h1>Resume</h1>
<p>
  For privacy reasons, please direct resume enquiries to <a href="mailto:resume@colinchartier.com">resume@colinchartier.com</a>.
</p>

<h1>Additional Contact Details</h1>
<p>
  If you have any additional inquiries for information such as shipping address or phone number, please email me at <a href="mailto:me@colinchartier.com">me@colinchartier.com</a>.
</p>