<h1>Primary Email</h1>
<a href="mailto:me@colinchartier.com">me@colinchartier.com</a>

<h1>School Email</h1>
<a href="mailto:colin.chartier@mail.utoronto.ca">colin.chartier@mail.utoronto.ca</a>

<h1>Secondary Email</h1>
<a href="mailto:colin.n.chartier@gmail.com">colin.n.chartier@gmail.com</a>

<h1>Additional Contact Details</h1>
For more specific contact details like phone number or address, please email any of the aforementioned addressess.