/*
 * This style sheet is for generic display attributes, I.E global style settings for the
 * entire site.
 */

p {
  line-height: 1.5em;
  color: #40464d;
  padding: 0 1.5em;
  max-width: 860px;
  margin: auto;
  font-size: 1.2em;
}