$header-text-threshold: 306px;
//at this threshold, the text disappears leaving only the logo visible at the top
$header-image-threshold: 380px;
//at this threshold, the logo disappears leaving only the banner text

$nav-bar-threshold: 295px;
$nav-arrow-threshold: 270px;

#banner {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: #EFEFEF;
  width: 100%;
  p, img {
    vertical-align: middle;
    display: inline-block;
  }

  p {
    @media screen and (max-width: $header-text-threshold) {
      //between 0 and the text threshold, only the image is visible
      display: none;
    }
    font-size: 30px;
    color: #FFF;
    padding: 0 0;
  }

  img {
    height: 70px;
    width: 70px;

    @media screen and (min-width: $header-text-threshold) and (max-width: $header-image-threshold) {
      //between the text threshold and the image threshold, only the text is visible
      display: none;
    }
  }
}

header {
  margin: 0 0 0 0;
  padding-bottom: 1px;
  background: #2E2F30;
  text-transform: uppercase;
}

.navbar {
  text-align: center;
  padding: 0 0 0 0;
  li {
    position: relative;
    display: inline-block;
    a {
      text-decoration: none;
      color: #AAA;
    }
  }

  @media screen and (min-width: $nav-bar-threshold) {
    li + li:before {
      content: '|';
      padding: 0 .3em 0 .1em;
      color: #AAA;
    }
  }
}

@media screen and (min-width: $nav-arrow-threshold) {
  .active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #2E2F30;
    border-width: 20px;
    margin-left: -15px;
    margin-top: 15px;
  }
}

.content {
  margin-top: 5px;
}

body {
  font-family: helvetica, arial, verdana, sans-serif;
  margin: 0;
}